<!DOCTYPE html>
{#        #}
<html lang="en" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script src="{{ url_for('static', filename = 'js/login.js') }}"></script>

    <title>Login</title>

</head>
<body>
<div id="signInButton">
    <span class="g-signin"

          data-scope="openid email"
          data-clientid="820762716969-7v0j2rqk92ranifblculm7el5bc8d6ji.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
    </span>
</div>
<div id="result"></div>


{# End Google Plus Sign IN #}
<button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer('{{ STATE }}');">
        <a href='javascript:sendTokenToServer("{{ STATE }}")'>Login with Facebook</a>

    </fb:login-button>
</button>
<!--END FACEBOOK SIGN IN -->
</body>
</html>